.VPButton.medium.brand {
  background-color: var(--vp-c-brand-1) !important;
}

.VPButton.medium.alt {
  background-color: var(--vp-c-bg-soft) !important;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 1px solid var(--vp-c-divider);
}

.VPNav {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.7) !important;
}

.dark .VPNav {
  background: rgba(36, 36, 36, 0.7) !important;
}

.VPSidebar {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.7) !important;
}

.dark .VPSidebar {
  background: rgba(36, 36, 36, 0.7) !important;
}

/* 优化滚动性能 */
* {
  scroll-behavior: smooth;
}

/* 优化图片加载 */
img {
  content-visibility: auto;
}
